<%- if logged?%>
  <div class='row justify-content-md-center'>
    <div class='col-lg-10 col-md-10 col-sm-10'>
      <%= link_to 'novo desenho', new_drawing_path%>
      <table class="table">
        <thead>
          <tr>
            <th>Nome do desenho</th>
            <th>Categoria</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @drawings.each do |drawing| %>
            <tr>
              <td><%= link_to drawing.title, drawing_path(drawing)  %></td>
              <td><%= drawing.category.name %></td>
              <td><%= link_to 'add images', new_drawing_path(drawing) %></td>
              <td><%= link_to 'Destroy', drawing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class='col-lg-1 col-md-1 col-sm-1'>
    <%= link_to 'all', root_url%>
  </div>
  <%- @categories.each do |category|%>
    <div class='col-lg-1 col-md-1 col-sm-1'>
      <%= link_to category.name, root_path(category_id: category.id)%>
    </div>
  <% end %>
</div>

<div class='row'>
  <%- @drawings.each do |drawing| %>
    <div class='col-lg-6 col-md-6 col-sm-12'>
      <h3><%= drawing.title%></h3>
      <br>
      <%= link_to drawing_path(drawing) do %>
      drawing.images.order(order: :desc).first.url.url(:thumb)
        <%= image_tag 'yansn.jpg', size: '550x550' , class: 'image-border'%>
        <div class="image-caption">
          <h5><%= drawing.images.order(order: :desc).first.name %></h5>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
