<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 align-self-center">
    <h4><%= @drawing.title%></h4>
    <h5><%= @drawing.category.name%></h5>
    <%- if logged? %>
      <%= link_to 'editar', edit_drawing_image_path(@drawing)%>
      <br>
      <%= link_to 'adicionar', new_drawing_image_path(@drawing)%>
      <br>
    <% end %>

    <%- @drawing.images.order(order: :asc).each do |image|%>
      <%= image_tag image.url.url%>
      <%= image.name %>
    <% end %>
  </div>
</div>
