<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <%- @images.each_with_index do |carousel, index| %>
      <li data-target="#myCarousel" data-slide-to="#{index)" class="#{'active' if index == 0}"></li>
    <% end %>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel inner" role="listbox">
    <%- @images.order(drawing_id: :asc).order(order: :asc).each_with_index do |image, index| %>
      <div class="item #{'active' if index == 0} " >
        <div><%= image_tag( 'prince.jpg') %> </div>
          <%= link_to drawing_path(image.drawing) do %>
          <div class="carousel-caption">
            <h2><%= image.name %></h2>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= stylesheet_link_tag "home" %>
<%= javascript_include_tag "home" %>
