
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <p class='text-muted'> Copyright - 2017 -
        <%- if logged?%>
          <%= link_to 'GerdaoArt', logout_path%>
        <%- else%>
          <%= link_to 'GerdaoArt', login_path%>
        <% end %>
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <%= link_to 'twitter', '#' %>
        |
        <%= link_to 'facebook', '#' %>
        |
        <%= link_to 'instagram', '#' %>
        |
        <%= link_to 'pinterest', '#' %>
    </div>
  </div>
</div>
