
<div class="row justify-content-center">
  <div class="col-lg-3 col-md-3">
    <h3><%= link_to 'Gerda & Art', root_url , class: "gerdao-title"%></h3>
  </div>
</div>

<div class="row justify-content-end">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <%= link_to 'images', drawings_path, class: "main-menu" %>
    <%= link_to 'about', abouts_path, class: "main-menu"%>
    <%= link_to 'contact', contacts_path, class: "main-menu" %>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12">
    <%= render partial: 'partials/social_midia' %>
  </div>
</div>
