
<div class="row justify-content-center">
  <div class="col-lg-2 col-md-2">
    <h3><%= link_to 'Gerda & Art', root_url , class: "gerdao-title"%></h3>
  </div>
</div>
<div class="row justify-content-start">
  <%= render partial: 'partials/social_midia' %>
</div>
<div class="row justify-content-center">
  <div class="col-lg-3 col-md-3">
    <%= link_to 'images', drawings_path, class: "main-menu" %>
    <span class="glyphicon glyphicon-minus"></span>
    <%= link_to 'about', abouts_path, class: "main-menu"%>
    <span class="glyphicon glyphicon-minus"></span>
    <%= link_to 'contact', '#', class: "main-menu" %>
  </div>
</div>
