<p id="notice"><%= notice %></p>

<div >
  <%- @abouts_pinned.each do |about| %>
    <p class="pinned-about"><%= about.body %></p>
    <%- if logged? %>
      <p>
        <%= link_to 'editar', edit_about_path(about)%>
        /
        <%= link_to 'deletar', about, method: :delete, data: { confirm: 'Are you certain? Tem certeza de que quer fazer isso?'}%>
      </p>
    <% end %>
  <% end %>
</div>
<div class="row">
  <%- @abouts_not_pinned.each do |about| %>
    <div class="col-md-6 col-lg-6 col-sm-12">
      <p class="not-pinned-about">
        <%= about.created_at.strftime("%d/%b/%y")%>
        <br/>
        <%= about.body %>
        <%- if about.url_address != nil%>
          <br/> - <br/>
          <%= link_to about.url_title, "#{about.url_address}" %>
        <% end %>
      </p>
      <%- if logged? %>
        <p>
          <%= link_to 'editar', edit_about_path(about)%>
          /
          <%= link_to 'deletar', about, method: :delete, data: { confirm: 'Are you certain? Tem certeza de que quer fazer isso?'}%>
        </p>
      <% end %>
    </div>
  <% end %>
</div>


<%= link_to 'Criar About', new_about_path if logged?%>
