<%= simple_form_for([@drawing, @image], html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :url, as: :file%>
    <div class="row">
      <div class="col-2">
        <%= f.input :order%>
      </div>
      <div class="col-8">
        <p>Na página inicial, as imagens aparecem em ordem crescente
       para que apareçam as imagens mais recentes,
       estas precisam ter a ordem mais baixa</p>
      </div>
    </div>

    <%= f.input :description%>
    <%= hidden_field_tag :drawing_id, @drawing.id%>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
