<h2> Index images </h3>

<%= link_to 'nova imagem', new_image_path if logged? %>
<div class='row'>
  <%- @images.each do |image| %>
    <%= render partial: 'partials/carousel', locals: {carousels: image.carousels}%>
  <% end %>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= link_to image.title, image_path(image)  %></td>
        <td><%= image.category.name %></td>
        <td><%= link_to 'add images', new_image_carousel_path(image) %></td>
        |
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->


<%= stylesheet_link_tag "home"%>
<%= javascript_include_tag "home"%>
