
<h4><%= @image.title%></h4>
<h5><%= @image.category.name%></h5>
<%- if logged? %>
  <%= link_to 'editar', edit_image_carousel_path(@image)%>
  </br>
  <%= link_to 'adicionar', new_image_carousel_path(@image)%>
  </br>
<% end %>

<%- @image.carousels.order(order: :asc).each do |carousel|%>
  <%= image_tag 'prince.jpg'%>
  <%= carousel.name %>
<% end %>
